<h1  class="m-3">Ofertas </h1>
<section class="contenedor">
<div class="contenedor-items">
  <div *ngFor="let number of [0,1,2,3]" class="item">
    <!-- Tarjeta de producto -->
    <div class="producto-card">
      <h3>{{ this.ProductService.allProducts[number].name }}</h3>
      <img [src]="this.ProductService.allProducts[number].imagenes" class="img-item" alt="">
      <p>{{ this.ProductService.allProducts[number].description }}</p>
      <span class="precio-item">{{this.ProductService.allProducts[number].price  | currency}}</span>
  
      <!-- Campos de entrada para editar los valores -->
      <button (click)="guardarCambios(this.ProductService.allProducts[number])"class="boton-item">Agregar al carrito</button>
    </div>
  </div>
</div>
</section>



