<div class="bg-dark d-flex justify-content-center ">
  <input type="text" placeholder="buscar" />
  <div class="btn">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>

<header class="header bg-dark ">
  <div class="logo">
    <img src="../../../assets/img/los-10-sonidos-principales-del-perro.jpg" alt="" width="70px" height="50px" />
  </div>
  <nav>
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/gamers']" routerLinkActive="active">

        Pc gamers

      </a>
    </li>
      <li>
        <a [routerLink]="['/graficas']" routerLinkActive="active">
          Tarjetas graficas
        </a>
      </li>
      <li>
        <a [routerLink]="['/monitores']" routerLinkActive="active">
          Monitores
        </a>
      </li>
      <li>
        <a [routerLink]="['/laptos']" routerLinkActive="active">
          Laptops
        </a>
      </li>
      <!-- <li><a >Pc gamers</a></li> -->
    </ul>
  </nav>
  <div class="d-flex gap-3 mb-3">
    <a [routerLink]="['/crear']" routerLinkActive="active"
    class="text-white text-decoration-none xse">
    Crear cuenta
  </a>
    <a [routerLink]="['/ingresar']" routerLinkActive="active"
    class="text-white text-decoration-none xse">
      Ingresa</a>
  </div>
</header>
