<div class="bg-dark d-flex justify-content-center pt-3">
  <input type=" text " placeholder="buscar" />
  <div class="btn">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>

<header class="header bg-dark ">
  <div class="logo">
   <a [routerLink]="['/home']" routerLinkActive="active"> <img src="/assets/img/image.png" alt="" width="100px"  /></a>
  </div>
  <nav>
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/gamers']" routerLinkActive="active">

        Pc gamers

      </a>
    </li>
      <li>
        <a [routerLink]="['/graficas']" routerLinkActive="active">
          Tarjetas graficas
        </a>
      </li>
      <li>
        <a [routerLink]="['/monitores']" routerLinkActive="active">
          Monitores
        </a>
      </li>
      <li>
        <a [routerLink]="['/laptos']" routerLinkActive="active">
          Laptops
        </a>
      </li>
      <!-- <li><a >Pc gamers</a></li> -->
    </ul>
  </nav>
  <div class="d-flex gap-3 mb-3" style="margin-top: 30px;" >
    <a [routerLink]="['/crear']" routerLinkActive="active"
    class="text-white text-decoration-none xse">
    Crear cuenta
  </a>
  
  <div *ngIf="tokenExisten">
    <a [routerLink]="['/ingresar']" routerLinkActive="active"
    class="text-white text-decoration-none xse">
      inicio de sesion</a>
      <div class="navbar">
        <div class="login" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
          <span>Iniciar sesión</span>
          <div class="dropdown" *ngIf="showDropdown">
            <div class="dropdown-content">
              <div class="user-profile">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/008/442/086/small/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="Foto de perfil">
              </div>
              <a routerLink="/perfil">Perfil</a>
              <button (click)="eliminarToken()">Salir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!tokenExisten">
      <a [routerLink]="['/ingresar']" routerLinkActive="active"
      class="text-white text-decoration-none xse">
        No inicio sesion</a>
      </div>
     <div>
      <a [routerLink]="['/carrito']" routerLinkActive="active"> 
        
        <img src="https://cdn.icon-icons.com/icons2/1077/PNG/512/shoppingcart_77968.png" alt="" width="50px" />
       
      </a>
     </div>
  </div>
</header>
