<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form >
    <h3>Suscribite a semanticos</h3>
    
    <label for="username">username</label>
    <input type="text" placeholder="Ingrese Email" id="username">

    <label for="password">password</label>
    <input type="password" placeholder="password" id="password">

    <button>Enviar</button>
    <div class="social">
        <div class="go"><a><i class="fa-brands fa-instagram"></i>instagram</a></div>
        <div class="go"><a><i class="fa-brands fa-facebook"></i>facebook</a></div>
    </div>
</form>