<h1>Tarjetas Graficas 2023</h1>
<div class="container">
    <div class="cuadro1">
        <div class="img-style">
            <img style="width: 350px;  " src="assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, obcaecati possimus. Nemo hic at, quae eveniet voluptatum iste voluptatem accusantium ipsa. Adipisci aliquam voluptatibus labore hic iure temporibus voluptas minima?
        </div>
        <div>
            <button class="btn-compra">Comprar</button>
        </div>
    </div>
    <div class="cuadro1">
        <div class="img-style">
            <img style="width: 350px;  " src="assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, obcaecati possimus. Nemo hic at, quae eveniet voluptatum iste voluptatem accusantium ipsa. Adipisci aliquam voluptatibus labore hic iure temporibus voluptas minima?
        </div>
        <div>
            <button class="btn-compra">Comprar</button>
        </div>
    </div>
</div>
