
<body>
  <div class="container">
    <div class="productos">
      <!-- Contenido de la lista de productos -->
      <h5>Todas</h5>
      <span>100 productos</span>
      <h5>categorias</h5>
      <ul>
        <li>NVIDIA GeForce GTX 1660 Super</li>
        <li>AMD Radeon RX 6800</li>
        <li>AMD Radeon RX 6700 XT</li>
        <li>AMD Radeon RX 6900 XT</li>
        <li>NVIDIA GeForce RTX 3080</li>
        <li>AMD Radeon RX 6800</li>
        <li>categorias</li>
      </ul>
      <h5>costo de envio</h5>
      <li>Gratis(9481)</li>
      <h5>pago</h5>
      <li>cuotas sin interes</li>
      <h5>precio</h5>
      <h6>hasta $300.000.00</h6>
      <h6>$300.000.00 a 439.000.00</h6>
    </div>
    <div class="cartas">
      <section class="contenedor">
        <div class="contenedor-items">
          <div *ngFor="let producto of this.ProductService.allProducts" class="item">
            <!-- Tarjeta de producto -->
            <div class="producto-card">
              <h3>{{ producto.name }}</h3>
              <img [src]="producto.imagenes" class="img-item" alt="">
              <p>{{ producto.description }}</p>
              <span class="precio-item">{{producto.price | currency }}</span>
          
              <!-- Campos de entrada para editar los valores -->
              <button (click)="guardarCambios(producto)" class="boton-item">Agregar al carrito</button>
            </div>
          </div>
        </div>
        </section>
      <div class="card">
        <!-- Contenido de la carta 1 -->
      </div>
      <div class="card">
        <!-- Contenido de la carta 2 -->
      </div>
      <div class="card">
        <!-- Contenido de la carta 3 -->
      </div>
      <!-- Agrega más cartas según tus necesidades -->
    </div>
  </div>
</body>

