.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box a{
  text-decoration: none;
  font-size: 25px;
   color: #fff;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefefef;

    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
     display: inline-block;
     text-decoration: none;
     display: block;
     color: #fff;
     font-size: 1.3rem;
}
.pie-pagina .grupo-2{
    background-color: #0a1a22;
    padding: 15px 10px ;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}