<div class="d-flex p-3 m-5 div shadow">
    <div class="p-2 flex-fill">
      <img src="https://cdn-icons-png.flaticon.com/512/2511/2511012.png" style="width: 30px;"> 
        <span>
          Envios gratis(en Bogotá)
        </span>
    </div>
    <div class="p-2 flex-fill">
      <img src="https://static.vecteezy.com/system/resources/previews/009/356/097/original/pay-upon-delivery-icon-style-vector.jpg" style="width: 30px;">
        <span>
          Contraentrega.
        </span>
    </div>
    <div class="p-2 flex-fill">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvm6_Gz5H_Y1vwotcT6lODjS8Ovqi-OsvCPN_DqJOeWg&s" alt="" style="width: 30px;">
        <span>
          Siempre con descuentos.
        </span>
    </div>
  </div>
