<div class="d-flex p-3 m-5 div shadow">
    <div class="p-2 flex-fill">
      <span class="material-symbols-outlined">
        two_wheeler
        </span> 
        <span>
          Recogida cerca
        </span>
    </div>
    <div class="p-2 flex-fill">
      <span class="material-symbols-outlined">
        two_wheeler
        </span> 
        <span>
          Recogida cerca
        </span>
    </div>
    <div class="p-2 flex-fill">
      <span class="material-symbols-outlined">
        two_wheeler
        </span> 
        <span>
          Recogida cerca
        </span>
    </div>
  </div>
