
   

<div class="d-flex justify-content-center h-50">
    <div class="mt-5 border w-25 text-center p-5">
     <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="mb-3 row">
        <div class="">
            <h3>Iniciar sesion</h3>
          <input 
          name="username"
          #username= "ngModel"
          [(ngModel)]="userService.auth.username"
          type="text" 
          class="form-control" 
          id="staticEmail" 
          placeholder="Usuario">
        </div>  
      </div>
      <div class="mb-3 row">
        <div class="">
          <input 
          name="password"
          #password= "ngModel"
          [(ngModel)]="userService.auth.password"
  
          type="password" 
          class="form-control" 
          id="inputPassword" 
          placeholder="Contraseña">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesion</button>
     </form> 
    </div>
  </div>
