<div class="d-flex flex-row">
  <div class="">
    <div class="lista g-3 p-5">
      <h3>Todas</h3>
      <span>10.000</span>
    </div>
    <div class="d-flex gap-3 flex-column p-4 ofertas">
      <h3>Tipo de oferstas</h3>
      <a href="">ofertas del dia (20)</a>
      <a href="">ofertas relampago(57)</a>
    </div>
    <div class="d-flex gap-3 flex-column me-5 p-4 camilo">
      <h3 class="">Categorias</h3>
      <a href="">laptos</a>
      <a href="">pc gamers</a>
      <a href="">monitores</a>
      <a href="">tarjetas graficas</a>
      <a href="">graficas xx</a>
      <a href="">monitores</a>
      <a href="">gamers</a>
      <a href="">laptos</a>
    </div>
  </div>

  <div class="cards flex-grow-1">
    <section class="contenedor">
      <div class="contenedor-items">
        <div class="item">
          <span class="titulo-item">Tarjetas graficas</span>
          <img
            src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
            alt=""
            class="img-item"
          />
          <span class="precio-item">$15.000</span>
          <p>Tarjeta grafica execelente calidad y muy buen estado</p>
          <button class="boton-item">
            Agregar al Carrito
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
