<body>
<div class="row">
  <div class="col-md-4">
    <div class="barra-lateral">
      <div class="total-productos">
        Productos:
        <p>50 Productos<p>
      </div>
   
      <div class="total-productos1">
        <h5>Ofertas:</h5>
        <a>Oferta del dia</a>
        <br>
        <a>Mejores ofertas</a>

      </div>

      <div class="categorias">
        <h5>Categorias:</h5>
        <a >Tarjetas graficas</a>
        <br />
        <a >Pc gamer ensablado</a>
        <br />
        <a >monitores</a>
        <br />
        <a>laptop</a>
        <br />
      </div>
  </div>
  <div>
    <label>Precio mínimo:</label>
<input type="number" [(ngModel)]="priceRange.min" class="price-input">

<label>Precio máximo:</label>
<input type="number" [(ngModel)]="priceRange.max" class="price-input">

<button (click)="filterByPrice()" class="filter-button">Filtrar</button>
  </div>
  </div>
  <div class="col-md-8 d-flex flex-wrap">
    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>

    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>

    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>
   <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>

    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>

    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>

    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>

    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>

    <div class="cards">
      <section class="contenedor">
        <div class="contenedor-items">
          <div class="item">
            <span class="titulo-item">Tarjetas graficas</span>
            <img
              src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
              alt=""
              class="img-item"
            />
            <span class="precio-item">$15.000</span>
            <p>Tarjeta grafica execelente calidad y muy buen estado</p>
            <button class="boton-item">Agregar al Carrito</button>
          </div>
        </div>
      </section>
    </div>  

  </div>
</div>
</body>