<h1 class="m-3">LO MAS VENDIDOS</h1>

<section class="contenedor">
  <div class="contenedor-items">
    <div *ngFor="let number of [3,4,5,6]" class="item">
      <!-- Tarjeta de producto -->
      <div class="producto-card">
        <h3>{{ this.ProductService.allProducts[number].name }}</h3>
        <img [src]="this.ProductService.allProducts[number].imagenes" class="img-item" alt="">
        <p>{{ this.ProductService.allProducts[number].description }}</p>
        <span class="precio-item">{{this.ProductService.allProducts[number].price}}</span>
    
        <!-- Campos de entrada para editar los valores -->
        <button (click)="guardarCambios(this.ProductService.allProducts[number])"class="boton-item">Agregar al carrito</button>
      </div>
    </div>
  </div>
  
  
  <!-- <div class="card">
    <img [src]="produc2.imageUrl" alt="Imagen del producto">
    <h3>{{ produc2.name }}</h3>
    <p>{{ produc2.description }}</p>
    <p>Precio: ${{ produc2.price }}</p>
    <button (click)="addToCart()">Agregar al carrito</button>
  </div>
   -->
  
