
.contenedor{
    margin: 20px;
    padding: 2px 3px;
   background-color: #fff8f8;
  
   ;
   .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .item-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .item-price {
    align-self: flex-start;
  }
  
  .item-quantity,
  .item-total {
    align-self: flex-end;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #d32f2f;
  }
  
  .cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center
    
  }
  .total-amount{
 align-self: flex-end;
  font-weight: bold;
  margin-right: 10px; /* Ajuste para separar del botón */
  
  }
  
  .checkout-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: auto; /* Ajuste para alinear a la derecha */
  }
}