<section class="contenedor">
    <!-- Contenedor de elementos -->
    <div class="contenedor-items">
      <div class="item">
        <span class="titulo-item">Tarjetas graficas</span>
        <img
          src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
          alt=""
          class="img-item"
        />
        <span class="precio-item">$15.000</span>
        <a href="#">informacion</a>
        <button class="boton-item">Agregar al Carrito</button>
      </div>
  
      <div class="contenedor-items">
        <div class="item">
          <span class="titulo-item">Tarjetas graficas</span>
          <img
            src="/assets/img/png-transparent-graphics-cards-video-adapters-rgb-backlit-gaming-high-end-graphics-card-geforce-gtx-1080ti-lightning-z-micro-star-international-digital-visual-interfa.png"
            alt=""
            class="img-item"
          />
          <span class="precio-item">$15.000</span>
          <a href="#">informacion</a>
          <button class="boton-item">Agregar al Carrito</button>
        </div>
      </div>
    </div>
  </section>
  
